@charset "utf-8";
/* CSS Document */
.msgcontent{width:600px;}
#getForm1{width:960px; margin:0 auto;}
h1{text-align:center;}
.dev li{ color:red; }
#msg_form{width:500px; margin:20px auto;}
h2{font-size:18px; }
